.content-container{
    display: flex;
}
.signup-content{
    padding-left:50px;
    margin-top: 30px;
}
.signup-logo{
    padding-left:30px;
    margin-left: 75px;
    padding-bottom: 10px;
}
.signuphead-con{
    font-family: 'TradeGothic LT Extended',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 100px;
}
.signup-button{
    background: #8dd3bb;
    height: 50px;
    width:500px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 100px;
}
.signupform-con{
    margin-left: 100px;
}
.alacc{
    text-align: center;
    font-size: 16px;
    color: var(--Blackish-Green, #121);
}
.firstname{
    position: absolute;
    background: white;
    margin-left: 15px;
}
.first-cont{
    margin-top: 25px;
    width:200px;
    height: 40px; 
}
.password{
    position: absolute;
    background: white;
    margin-left: 15px;
    
}
.cpassword{
    margin-top: 25px;
    width: 495px;
    height: 40px;
}
.last-cont{
    margin-top: 25px;
    width: 205px;
    height: 40px;
}
.lastname{
    left: 85px;
    bottom: 23px;
    position:relative;
    background: white;
}
.phone-cont{
    width: 205px;
    height: 40px;
    margin-left: -32px;
}
.phonenumber{
    left: 85px;
    bottom: 23px;
    position:relative;
    background: white;
}